@import "./normalize.css";

:root {
    --color-text: #666;
    --color-high-text: #ff5777;
    --corlor-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
}

body {
    background-color: var(--corlor-background);
}